<%- model_class = PaymentCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @payment_category.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @payment_category.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              payment_categories_path(:level => @payment_category.payment_category_id), :class => 'btn'  %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_payment_category_path(@payment_category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              payment_category_path(@payment_category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%= link_to t('.new_sub', :default => t("helpers.links.new_sub")),
              new_payment_category_path(:level => @payment_category.id), :class => 'btn btn-success' %>
</div>
